@{
    ViewData["Title"] = "Manga Übersicht";
}

<h1>Neue Manga</h1>


<table>
    <thead>
    <tr>
        <td>Bezeichnung</td>
        <td>Eingabe</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Titel</td>
        <td><input type="text" id="Titel" name="Titel"></td>
    </tr>
    </tbody>
</table>